Repository Coastee/COASTER-Client, pull requests merged in 2025-03, with the labels that each got.

#57 #53 [FIX] 서버 헤더 새로운 디자인 반영
  package.json
  public/svg/beautyServerIcon.svg
  public/svg/calendarMenuActiveIcon.svg
  public/svg/calendarMenuIcon.svg
  public/svg/dmMenuActiveIcon.svg
  public/svg/dmMenuIcon.svg
  public/svg/healthServerIcon.svg
  public/svg/homeLivingServerIcon.svg
  public/svg/hrLawServerIcon.svg
  public/svg/mobilityServerIcon.svg
  public/svg/profileMenuActiveIcon.svg
  public/svg/profileMenuIcon.svg
  public/svg/returnIcon.svg
  src/assets/svg/BeautyServerIcon.tsx
  src/assets/svg/CalendarMenuActiveIcon.tsx
  src/assets/svg/CalendarMenuIcon.tsx
  src/assets/svg/CarIcon.tsx
  src/assets/svg/DmMenuActiveIcon.tsx
  src/assets/svg/DmMenuIcon.tsx
  src/assets/svg/HealthServerIcon.tsx
  src/assets/svg/HomeLivingServerIcon.tsx
  src/assets/svg/HrLawServerIcon.tsx
  src/assets/svg/MobilityServerIcon.tsx
  src/assets/svg/ProfileMenuActiveIcon.tsx
  src/assets/svg/ProfileMenuIcon.tsx
  src/assets/svg/ReturnIcon.tsx
  src/assets/svg/index.ts
  src/components/ServerHeader/ServerHeader.styles.ts
  src/components/ServerHeader/ServerHeader.tsx
  src/components/ServerHeader/components/ServerDropdown/ServerDropdown.styles.ts
  src/components/ServerHeader/components/ServerDropdown/ServerDropdown.tsx
  src/components/ServerHeader/utils/getServerInfo.ts
  src/components/SideModal/SideModal.styles.ts
  src/constants/serverInfo.ts
  src/stores/useGlobalMenuStore.tsx
  yarn.lock
Labels: 🪄 Modify, 🎨 UI

#64 #63 [FEAT] 그룹챗 상세보기 모달
  public/svg/bookmarkIcon.svg
  public/svg/chatMenuIcon.svg
  public/svg/leaveIcon.svg
  src/assets/img/detailBgImg.png
  src/assets/svg/BookmarkIcon.tsx
  src/assets/svg/ChatMenuIcon.tsx
  src/assets/svg/LeaveIcon.tsx
  src/assets/svg/index.ts
  src/components/DetailModal/DetailModal.styles.ts
  src/components/DetailModal/DetailModal.tsx
  src/components/DetailModal/components/DetailMeta/DetailMeta.styles.ts
  src/components/DetailModal/components/DetailMeta/DetailMeta.tsx
  src/components/DetailModal/components/DetailUserInfo/DetailUserInfo.styles.ts
  src/components/DetailModal/components/DetailUserInfo/DetailUserInfo.tsx
  src/components/DetailModal/components/HamburgerMenu/HamburgerMenu.styles.ts
  src/components/DetailModal/components/HamburgerMenu/HamburgerMenu.tsx
  src/components/DetailModal/types/chatRoomTypes.ts
  src/components/SideModal/SideModal.styles.ts
  src/components/TagChip/TagChip.tsx
  src/components/TagChip/hooks/useHashtag.ts
  src/components/index.ts
  src/pages/CoffeeChatListPage/components/AddCoffeeChatModal/AddCoffeeChatModal.tsx
  src/pages/CoffeeChatListPage/components/CoffeeChatListAll/CoffeeChatListAll.tsx
  src/pages/GroupChatListPage/components/AddGroupChatModal/AddGroupChatModal.tsx
  src/pages/GroupChatListPage/components/GroupChatListAll/GroupChatListAll.styles.ts
  src/pages/GroupChatListPage/components/GroupChatListAll/GroupChatListAll.tsx
  src/pages/GroupChatListPage/constants/groupChatDetailDummy.ts
  src/utils/dateTime.ts
Labels: ✨ Feature, 🎨 UI

#62 #58 [FEAT] DatePicker 공통 컴포넌트
  package.json
  src/components/DatePicker/DatePicker.styles.ts
  src/components/DatePicker/DatePicker.tsx
  src/components/Input/Input.styles.ts
  src/components/index.ts
  src/pages/CoffeeChatListPage/components/AddCoffeeChatModal/AddCoffeeChatModal.styles.ts
  src/pages/CoffeeChatListPage/components/AddCoffeeChatModal/AddCoffeeChatModal.tsx
  src/pages/CoffeeChatListPage/hooks/useAddCoffeeChat.ts
  src/pages/CoffeeChatListPage/types/coffeeChatTypes.ts
  src/pages/HomePage/HomePage.tsx
  src/utils/dateTime.ts
  yarn.lock
Labels: ✨ Feature

#56 #55 [FEAT] 경력 수정/추가 구현
  public/svg/plusBlueIcon.svg
  src/assets/svg/PlusBlueIcon.tsx
  src/assets/svg/index.ts
  src/components/CheckBox/Checkbox.styles.ts
  src/components/CheckBox/Checkbox.tsx
  src/components/Divider/Divider.style.ts
  src/components/Divider/Divider.tsx
  src/components/TagChip/TagChip.styles.ts
  src/constants/path.ts
  src/constants/supportingText.ts
  src/pages/CoffeeChatListPage/types/coffeeChatTypes.ts
  src/pages/UserSettingPage/components/CareerAdd/CareerAdd.tsx
  src/pages/UserSettingPage/components/CareerDetailChip/CareerDetailChip.styles.ts
  src/pages/UserSettingPage/components/CareerDetailChip/CareerDetailChip.tsx
  src/pages/UserSettingPage/components/CareerEdit/CareerEdit.styles.ts
  src/pages/UserSettingPage/components/CareerEdit/CareerEdit.tsx
  src/pages/UserSettingPage/components/CareerSettingList/CareerSettingList.tsx
  src/pages/UserSettingPage/components/ProfileEdit/ProfileEdit.tsx
  src/pages/UserSettingPage/constants/dummy.ts
  src/pages/UserSettingPage/constants/maxLength.ts
  src/pages/UserSettingPage/hooks/useCareerValidation.ts
  src/pages/UserSettingPage/hooks/useEditCareerForm.ts
  src/pages/UserSettingPage/types/career.ts
  src/routers/Router.tsx
  src/utils/dateTime.ts
  yarn.lock
Labels: ✨ Feature, 🎨 UI

#66 #59 [FEAT] 전체 채팅
  .env
  .gitignore
  public/svg/pinIcon.svg
  src/assets/img/gradientBarImg.png
  src/assets/svg/PinIcon.tsx
  src/assets/svg/index.ts
  src/components/TitleContainer/TitleContainer.tsx
  src/constants/path.ts
  src/hooks/useScroll.tsx
  src/pages/DMPage/components/ChatRoom/ChatRoom.tsx
  src/pages/GlobalChatPage/GlobalChatPage.styles.ts
  src/pages/GlobalChatPage/GlobalChatPage.tsx
  src/pages/GlobalChatPage/components/GlobalChatRoom/GlobalChatRoom.styles.ts
  src/pages/GlobalChatPage/components/GlobalChatRoom/GlobalChatRoom.tsx
  src/pages/GlobalChatPage/constants/dummy.ts
  src/pages/GroupChatPage/components/ChatRoom/ChatRoom.tsx
  src/pages/HomePage/HomePage.styles.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/components/GlobalChatPreview/GlobalChatPreview.styles.ts
  src/pages/HomePage/components/GlobalChatPreview/GlobalChatPreview.tsx
  src/routers/Router.tsx
  src/styles/scrollStyle.ts
Labels: ✨ Feature, 🎨 UI

#68 #67 [FEAT] 아이콘만 있는 메뉴 헤더
  src/App.tsx
  src/components/MenuHeader/MenuHeader.styles.ts
  src/components/MenuHeader/MenuHeader.tsx
  src/components/ServerHeader/ServerHeader.tsx
  src/components/ServerHeader/components/ServerDropdown/ServerDropdown.tsx
  src/constants/menu.ts
  src/constants/serverInfo.ts
  src/pages/HomePage/HomePage.tsx
  src/routers/Router.tsx
  src/stores/useGlobalMenuStore.tsx
  src/stores/useGlobalServerStore.tsx
Labels: ✨ Feature

#73 #60 [FEAT] 카카오 로그인 구현
  src/apis/instance.ts
  src/components/CheckBox/Checkbox.styles.ts
  src/main.tsx
  src/pages/OnboardingPage/OnboardingPage.tsx
  src/pages/OnboardingPage/apis/fetchKakaoLogin.ts
  src/pages/OnboardingPage/components/KakaoLogin/KakaoLogin.tsx
  src/pages/OnboardingPage/constants/index.ts
  src/pages/OnboardingPage/hooks/useKakaoLogin.ts
  src/pages/OnboardingPage/types/index.ts
  src/pages/SignupPage/SignupPage.tsx
  src/pages/SignupPage/components/InterestStep/InterestStep.tsx
  src/pages/SignupPage/hooks/useInfoForm.ts
  src/routers/Router.tsx
Labels: 📬 API, ✨ Feature

#70 #69 [FEAT] 홈 데이터 API 연결
  package.json
  src/components/DetailModal/DetailModal.tsx
  src/components/NoDataContainer/NoDataContainer.styles.ts
  src/components/NoDataContainer/NoDataContainer.tsx
  src/components/SearchLayout/SearchLayout.tsx
  src/components/ServerHeader/ServerHeader.tsx
  src/components/ServerHeader/apis/server.ts
  src/components/TagChip/TagChip.tsx
  src/components/TagChip/types/tagChipTypes.ts
  src/ky/ky.ts
  src/pages/CoffeeChatListPage/components/CoffeeChatList/CoffeeChatList.styles.ts
  src/pages/CoffeeChatListPage/components/CoffeeChatList/CoffeeChatList.tsx
  src/pages/CoffeeChatListPage/components/CoffeeChatListAll/CoffeeChatListAll.tsx
  src/pages/GroupChatListPage/components/GroupChatList/GroupChatList.tsx
  src/pages/GroupChatListPage/components/GroupChatListAll/GroupChatListAll.tsx
  src/pages/HomePage/HomePage.styles.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/hooks/useHomeData.ts
  src/pages/HomePage/types/homeDataTypes.ts
  yarn.lock
Labels: 📬 API

#78 #72 [FEAT] 서버 헤더 - 내가 속한 서버 조회 API 연결
  src/components/ServerHeader/ServerHeader.tsx
  src/components/ServerHeader/apis/server.ts
  src/components/ServerHeader/hooks/useServerList.ts
  src/components/ServerHeader/types/serverTypes.ts
  src/constants/serverInfo.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/components/GlobalChatPreview/GlobalChatPreview.styles.ts
  src/pages/HomePage/components/GlobalChatPreview/GlobalChatPreview.tsx
  src/pages/HomePage/hooks/useHomeData.ts
  src/pages/OnboardingPage/components/KakaoLogin/KakaoLogin.tsx
Labels: 📬 API, ✨ Feature

#83 #82 [FEAT] DM 실시간 수신 및 송신 기능 구현
  package.json
  src/pages/DMPage/DMPage.tsx
  src/pages/DMPage/apis/dm.ts
  src/pages/DMPage/components/ChatRoom/ChatRoom.tsx
  src/pages/DMPage/components/DMItem/DMItem.tsx
  src/pages/DMPage/components/DMList/DMList.tsx
  src/pages/DMPage/hooks/useDm.ts
  src/pages/DMPage/types/dmTypes.ts
  src/sockets/dmSocketClient.ts
  src/utils/dateTime.ts
  vite.config.ts
  yarn.lock
Labels: 📬 API, ✨ Feature

#84 #71 [FEAT] 그룹챗 생성 api 연결
  src/apis/instance.ts
  src/pages/GroupChatListPage/GroupChatListPage.tsx
  src/pages/GroupChatListPage/apis/addGroupChat.ts
  src/pages/GroupChatListPage/components/AddGroupChatModal/AddGroupChatModal.tsx
  src/pages/GroupChatListPage/hooks/useAddGroupChat.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/hooks/useHomeData.ts
Labels: 📬 API, ✨ Feature

#80 #65 [FEAT] 마이페이지 내 프로필 조회 API
  src/apis/instance.ts
  src/apis/interceptor.ts
  src/constants/noData.ts
  src/pages/MyPage/MyPage.tsx
  src/pages/MyPage/apis/fetchUserDetail.ts
  src/pages/MyPage/components/CareerBox/CareerBox.tsx
  src/pages/MyPage/components/CareerList/CareerList.tsx
  src/pages/MyPage/components/ProfileBox/ProfileBox.styles.ts
  src/pages/MyPage/components/ProfileBox/ProfileBox.tsx
  src/pages/MyPage/constants/image.ts
  src/pages/MyPage/hooks/useFetchUserDetail.ts
  src/pages/MyPage/types/index.ts
  src/pages/OnboardingPage/apis/postRefreshToken.ts
  src/pages/OnboardingPage/components/KakaoLogin/KakaoLogin.tsx
  src/pages/OnboardingPage/constants/index.ts
  src/pages/SignupPage/apis/fetchServers.ts
  src/pages/SignupPage/components/InterestStep/InterestStep.tsx
  src/pages/SignupPage/hooks/useFetchServers.ts
  src/pages/SignupPage/types/server.ts
  src/pages/UserSettingPage/hooks/useEditProfileForm.ts
  src/pages/UserSettingPage/types/profile.ts
  src/utils/dateTime.ts
  yarn.lock
Labels: 📬 API, ✨ Feature

#91 #85 [FEAT] 커피챗 생성 API 연결
  src/pages/CoffeeChatListPage/apis/addCoffeeChat.ts
  src/pages/CoffeeChatListPage/components/AddCoffeeChatModal/AddCoffeeChatModal.tsx
  src/pages/CoffeeChatListPage/hooks/useAddCoffeeChat.ts
  src/pages/CoffeeChatListPage/types/coffeeChatTypes.ts
Labels: 📬 API, ✨ Feature

#95 #79 [FEAT] 그룹챗 / 커피챗 리스트 페이지 조회 API 연결
  src/components/DetailModal/components/DetailMeta/DetailMeta.tsx
  src/components/DetailModal/types/chatRoomTypes.ts
  src/pages/CoffeeChatListPage/apis/fetchGroupChatList.ts
  src/pages/CoffeeChatListPage/components/CoffeeChatList/CoffeeChatList.styles.ts
  src/pages/CoffeeChatListPage/components/CoffeeChatList/CoffeeChatList.tsx
  src/pages/CoffeeChatListPage/components/CoffeeChatListAll/CoffeeChatListAll.tsx
  src/pages/CoffeeChatListPage/hooks/useFetchCoffeeChatList.ts
  src/pages/CoffeeChatListPage/types/coffeeChatTypes.ts
  src/pages/GroupChatListPage/apis/fetchGroupChatList.ts
  src/pages/GroupChatListPage/components/GroupChatList/GroupChatList.tsx
  src/pages/GroupChatListPage/components/GroupChatListAll/GroupChatListAll.tsx
  src/pages/GroupChatListPage/hooks/useFetchGroupChatList.ts
  src/pages/GroupChatListPage/types/groupChatTypes.ts
  src/pages/GroupChatPage/apis/fetchSideCoffeeChatList.ts
  src/pages/GroupChatPage/apis/fetchSideGroupChatList.ts
  src/pages/GroupChatPage/hooks/useFetchCoffeeChat.ts
  src/pages/GroupChatPage/hooks/useFetchGroupChat.ts
  src/pages/HomePage/HomePage.tsx
Labels: 📬 API, ✨ Feature

#97 #96 [FEAT] 그룹챗/커피챗 입장 및 퇴장 API 연결
  src/components/DetailModal/DetailModal.tsx
  src/components/DetailModal/apis/enterChatRoom.ts
  src/components/DetailModal/apis/exitChatRoom.ts
  src/components/DetailModal/components/HamburgerMenu/HamburgerMenu.tsx
  src/components/DetailModal/hooks/useEnterChatRoom.ts
  src/components/DetailModal/hooks/useExitChatRoom.ts
  src/pages/GroupChatListPage/components/GroupChatListAll/GroupChatListAll.tsx
  src/pages/HomePage/HomePage.tsx
Labels: 📬 API, ✨ Feature

#93 #92 [FEAT] 전체 채팅 웹소켓 연결
  src/components/ChatPanel/ChatPanel.tsx
  src/components/DetailModal/types/chatRoomTypes.ts
  src/pages/GlobalChatPage/GlobalChatPage.tsx
  src/pages/GlobalChatPage/apis/globalChat.ts
  src/pages/GlobalChatPage/components/GlobalChatRoom/GlobalChatRoom.styles.ts
  src/pages/GlobalChatPage/components/GlobalChatRoom/GlobalChatRoom.tsx
  src/pages/GlobalChatPage/hooks/useChatScroll.ts
  src/pages/GlobalChatPage/hooks/useGetGlobalChatLogs.ts
  src/pages/GlobalChatPage/hooks/useGlobalChatStompClient.ts
  src/pages/GlobalChatPage/hooks/useUpdateChatLogs.ts
  src/pages/GlobalChatPage/types/globalChatTypes.ts
  src/pages/GlobalChatPage/utils/globalChatFormatTime.ts
  src/sockets/chatSocketClient.ts
  src/sockets/createClient.ts
  src/sockets/dmSocketClient.ts
Labels: 📬 API, ✨ Feature

#99 #94 [FEAT] 그룹챗 웹소켓 연결
  src/pages/DMPage/components/ChatRoom/ChatRoom.tsx
  src/pages/GroupChatPage/GroupChatPage.tsx
  src/pages/GroupChatPage/apis/fetchGroupChatLogs.ts
  src/pages/GroupChatPage/apis/fetchSideCoffeeChatList.ts
  src/pages/GroupChatPage/apis/fetchSideGroupChatList.ts
  src/pages/GroupChatPage/components/ChatEmptyPanel/ChatEmptyPanel.styles.ts
  src/pages/GroupChatPage/components/ChatEmptyPanel/ChatEmptyPanel.tsx
  src/pages/GroupChatPage/components/ChatInfoList/ChatInfoList.tsx
  src/pages/GroupChatPage/components/ChatListItem/ChatListItem.styles.ts
  src/pages/GroupChatPage/components/ChatListItem/ChatListItem.tsx
  src/pages/GroupChatPage/components/ChatRoom/ChatRoom.tsx
  src/pages/GroupChatPage/hooks/useChatScroll.ts
  src/pages/GroupChatPage/hooks/useFetchGroupChat.ts
  src/pages/GroupChatPage/hooks/useFetchGroupChatLogs.ts
  src/pages/GroupChatPage/hooks/useGroupChatStompClient.ts
  src/pages/GroupChatPage/hooks/useUpdateChatLogs.ts
  src/pages/GroupChatPage/types/groupChatLogTypes.ts
  src/pages/GroupChatPage/types/index.ts
  src/utils/dateTime.ts
Labels: 📬 API, ✨ Feature

#102 #100 [FEAT] 그룹챗/커피챗 공통 채팅 페이지: ChatPage (커피챗 추가 연결)
  src/components/NoDataContainer/NoDataContainer.styles.ts
  src/components/NoDataContainer/NoDataContainer.tsx
  src/constants/menu.ts
  src/constants/noData.ts
  src/constants/path.ts
  src/pages/ChatPage/ChatPage.tsx
  src/pages/ChatPage/apis/fetchChatLogs.ts
  src/pages/ChatPage/apis/fetchSideChatList.ts
  src/pages/ChatPage/components/ChatEmptyPanel/ChatEmptyPanel.styles.ts
  src/pages/ChatPage/components/ChatEmptyPanel/ChatEmptyPanel.tsx
  src/pages/ChatPage/components/ChatInfoList/ChatInfoList.styles.ts
  src/pages/ChatPage/components/ChatInfoList/ChatInfoList.tsx
  src/pages/ChatPage/components/ChatListItem/ChatListItem.styles.ts
  src/pages/ChatPage/components/ChatListItem/ChatListItem.tsx
  src/pages/ChatPage/components/ChatRoom/ChatRoom.styles.ts
  src/pages/ChatPage/components/ChatRoom/ChatRoom.tsx
  src/pages/ChatPage/hooks/useChatScroll.ts
  src/pages/ChatPage/hooks/useFetchChatLogs.ts
  src/pages/ChatPage/hooks/useGroupChatStompClient.ts
  src/pages/ChatPage/hooks/useSideChatList.ts
  src/pages/ChatPage/hooks/useUpdateChatLogs.ts
  src/pages/ChatPage/types/groupChatLogTypes.ts
  src/pages/ChatPage/types/index.ts
  src/pages/GroupChatPage/GroupChatPage.tsx
  src/pages/GroupChatPage/apis/fetchGroupChatLogs.ts
  src/pages/GroupChatPage/apis/fetchSideCoffeeChatList.ts
  src/pages/GroupChatPage/apis/fetchSideGroupChatList.ts
  src/pages/GroupChatPage/components/ChatInfoList/ChatInfoList.tsx
  src/pages/GroupChatPage/constants/dummy.ts
  src/pages/GroupChatPage/hooks/useFetchCoffeeChat.ts
  src/pages/GroupChatPage/hooks/useFetchGroupChat.ts
  src/pages/GroupChatPage/hooks/useFetchGroupChatLogs.ts
  src/pages/GroupChatPage/hooks/useUpdateChatLogs.ts
  src/pages/HomePage/HomePage.tsx
  src/routers/Router.tsx
Labels: 📬 API, ✨ Feature

#104 #103 [FEAT] 검색 API 연결
  src/components/SearchLayout/SearchLayout.tsx
  src/components/SearchLayout/apis/search.ts
  src/components/SearchLayout/hooks/useDebounce.ts
  src/components/SearchLayout/hooks/useSearch.ts
  src/components/SearchLayout/hooks/useUpdateSearchParam.ts
  src/components/SearchLayout/types/searchTypes.ts
  src/components/TagChip/types/tagChipTypes.ts
  src/components/TitleContainer/TitleContainer.tsx
  src/constants/dropdown.ts
  src/pages/CoffeeChatListPage/CoffeeChatListPage.tsx
  src/pages/CoffeeChatListPage/components/CoffeeChatListAll/CoffeeChatListAll.tsx
  src/pages/GlobalChatPage/components/GlobalChatRoom/GlobalChatRoom.tsx
  src/pages/GroupChatListPage/GroupChatListPage.tsx
  src/pages/GroupChatListPage/components/GroupChatListAll/GroupChatListAll.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/components/GlobalChatPreview/GlobalChatPreview.tsx
  src/pages/HomePage/constants/noticeDummy.ts
  src/pages/HomePage/types/homeDataTypes.ts
Labels: 📬 API, ✨ Feature

#86 #81 [FEAT] 프로필 수정 api 연결
  biome.json
  public/svg/linkedInIcon.svg
  public/svg/verifyIcon.svg
  src/apis/instance.ts
  src/assets/svg/LinkedInIcon.tsx
  src/assets/svg/VerifyIcon.tsx
  src/assets/svg/index.ts
  src/hooks/useImageUpload.ts
  src/pages/MyPage/MyPage.tsx
  src/pages/MyPage/apis/fetchUserDetail.ts
  src/pages/MyPage/components/CareerList/CareerList.tsx
  src/pages/MyPage/components/ProfileBox/ProfileBox.styles.ts
  src/pages/MyPage/components/ProfileBox/ProfileBox.tsx
  src/pages/MyPage/hooks/useFetchUserDetail.ts
  src/pages/MyPage/types/index.ts
  src/pages/OnboardingPage/components/KakaoLogin/KakaoLogin.tsx
  src/pages/SignupPage/SignupPage.tsx
  src/pages/SignupPage/components/InfoStep/InfoStep.tsx
  src/pages/SignupPage/types/signupFormTypes.ts
  src/pages/UserSettingPage/apis/postExperience.ts
  src/pages/UserSettingPage/apis/postUserProfile.ts
  src/pages/UserSettingPage/components/CareerAdd/CareerAdd.tsx
  src/pages/UserSettingPage/components/CertificationModal/CertificationModal.tsx
  src/pages/UserSettingPage/components/LinkModal/LinkModal.style.ts
  src/pages/UserSettingPage/components/LinkModal/LinkModal.tsx
  src/pages/UserSettingPage/components/ProfileEdit/ProfileEdit.styles.ts
  src/pages/UserSettingPage/components/ProfileEdit/ProfileEdit.tsx
  src/pages/UserSettingPage/constants/dummy.ts
  src/pages/UserSettingPage/constants/maxLength.ts
  src/pages/UserSettingPage/constants/modal.ts
  src/pages/UserSettingPage/hooks/useEditProfileForm.ts
  src/pages/UserSettingPage/hooks/usePostExperience.ts
  src/pages/UserSettingPage/hooks/usePostUserProfile.ts
  src/pages/UserSettingPage/types/career.ts
  src/pages/UserSettingPage/types/profile.ts
  src/stores/useModal.ts
Labels: 📬 API, ✨ Feature

#98 #90 [FEAT] 채팅룸 사이드 메뉴 바 구현
  public/svg/ExitRoomIcon.svg
  public/svg/closeNavIcon.svg
  src/assets/svg/CloseNavIcon.tsx
  src/assets/svg/ExitRoomIcon.tsx
  src/assets/svg/index.ts
  src/components/SideMenuBar/SideMenuBar.styles.ts
  src/components/SideMenuBar/SideMenuBar.tsx
  src/components/UserBox/UserBox.styles.ts
  src/components/UserBox/UserBox.tsx
  src/pages/ChatPage/ChatPage.tsx
  src/pages/ChatPage/components/ChatListItem/ChatListItem.tsx
  src/pages/ChatPage/components/ChatRoom/ChatRoom.styles.ts
  src/pages/ChatPage/components/ChatRoom/ChatRoom.tsx
  src/stores/useMenuBarStore.tsx
Labels: ✨ Feature, 🎨 UI

#112 #111 [FIX] 타입스크립트 빌드 에러 해결
  src/pages/ChatPage/components/ChatListItem/ChatListItem.tsx
  tsconfig.json
  yarn.lock
Labels: 🐞 BugFix

#119 #114 [FEAT] 서버 헤더 아이콘 적용 및 스크롤
  public/svg/advertisementServerIcon.svg
  public/svg/aiServerIcon.svg
  public/svg/babyServerIcon.svg
  public/svg/beautyServerIcon.svg
  public/svg/commerceServerIcon.svg
  public/svg/communicationServerIcon.svg
  public/svg/contentServerIcon.svg
  public/svg/educationServerIcon.svg
  public/svg/environmentServerIcon.svg
  public/svg/fashionServerIcon.svg
  public/svg/financeServerIcon.svg
  public/svg/foodServerIcon.svg
  public/svg/gameServerIcon.svg
  public/svg/healthCareServerIcon.svg
  public/svg/healthServerIcon.svg
  public/svg/homeLivingServerIcon.svg
  public/svg/hrLawServerIcon.svg
  public/svg/hrServerIcon.svg
  public/svg/logisticsServerIcon.svg
  public/svg/manufacturingServerIcon.svg
  public/svg/mobilityServerIcon.svg
  public/svg/realEstateServerIcon.svg
  public/svg/socialMediaIServercon.svg
  public/svg/sportsServerIcon.svg
  public/svg/travelServerIcon.svg
  src/assets/svg/AdvertisementServerIcon.tsx
  src/assets/svg/AiServerIcon.tsx
  src/assets/svg/BabyServerIcon.tsx
  src/assets/svg/BeautyServerIcon.tsx
  src/assets/svg/CommerceServerIcon.tsx
  src/assets/svg/CommunicationServerIcon.tsx
  src/assets/svg/ContentServerIcon.tsx
  src/assets/svg/EducationServerIcon.tsx
  src/assets/svg/EnvironmentServerIcon.tsx
  src/assets/svg/FashionServerIcon.tsx
  src/assets/svg/FinanceServerIcon.tsx
  src/assets/svg/FoodServerIcon.tsx
  src/assets/svg/GameServerIcon.tsx
  src/assets/svg/HealthCareServerIcon.tsx
  src/assets/svg/HealthServerIcon.tsx
  src/assets/svg/HomeLivingServerIcon.tsx
  src/assets/svg/HrLawServerIcon.tsx
  src/assets/svg/HrServerIcon.tsx
  src/assets/svg/LogisticsServerIcon.tsx
  src/assets/svg/ManufacturingServerIcon.tsx
  src/assets/svg/MobilityServerIcon.tsx
  src/assets/svg/RealEstateServerIcon.tsx
  src/assets/svg/SocialMediaIServercon.tsx
  src/assets/svg/SportsServerIcon.tsx
  src/assets/svg/TravelServerIcon.tsx
  src/assets/svg/index.ts
  src/components/ServerHeader/components/ServerDropdown/ServerDropdown.styles.ts
  src/components/ServerHeader/components/ServerDropdown/ServerDropdown.tsx
  src/components/ServerHeader/hooks/useScollPosition.ts
  src/constants/serverInfo.ts
Labels: ✨ Feature, 🎨 UI

#121 #120 [FIX] 채팅방 생성 시 리스트 바로 업데이트, 채팅방 입장 시 채팅방으로 바로 navigate
  src/components/DetailModal/components/HamburgerMenu/HamburgerMenu.tsx
  src/pages/ChatPage/ChatPage.tsx
  src/pages/ChatPage/components/ChatRoom/ChatRoom.tsx
  src/pages/CoffeeChatListPage/hooks/useAddCoffeeChat.ts
  src/pages/CoffeeChatListPage/hooks/useFetchCoffeeChatList.ts
  src/pages/GroupChatListPage/hooks/useAddGroupChat.ts
  src/pages/GroupChatListPage/hooks/useFetchGroupChatList.ts
Labels: 🐞 BugFix, 📬 API

#127 #109 [FEAT] google social login
  index.html
  public/svg/faviconIcon.svg
  public/svg/vite.svg
  src/constants/path.ts
  src/pages/OnboardingPage/OnboardingPage.tsx
  src/pages/OnboardingPage/apis/fetchGoogleLogin.ts
  src/pages/OnboardingPage/components/GoogleLogin/GoogleLogin.tsx
  src/pages/OnboardingPage/constants/index.ts
  src/pages/OnboardingPage/hooks/useGoogleLogin.ts
  src/routers/Router.tsx
  yarn.lock
Labels: 📬 API, ✨ Feature

#125 #122 [FEAT] 홈 검색 API 연결
  src/components/SearchLayout/constants/searchInitial.ts
  src/components/SearchLayout/hooks/useSearch.ts
  src/pages/CoffeeChatListPage/components/CoffeeChatList/CoffeeChatList.tsx
  src/pages/GroupChatListPage/components/GroupChatList/GroupChatList.tsx
  src/pages/HomePage/HomePage.styles.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/hooks/useHomeSearch.ts
  src/pages/HomePage/types/selectedItemTypes.ts
  src/pages/HomePage/utils/getSelectedChat.ts
Labels: 📬 API, ✨ Feature

#132 #129 [FEAT] 해시태그 검색 API 연결
  src/components/NoDataContainer/NoDataContainer.styles.ts
  src/components/SearchLayout/SearchLayout.styles.ts
  src/components/SearchLayout/SearchLayout.tsx
  src/components/SearchLayout/apis/hashtagSearch.ts
  src/components/SearchLayout/constants/searchInitial.ts
  src/components/SearchLayout/hooks/useHashtagSearch.ts
  src/components/SearchLayout/hooks/useUpdateSearchParam.ts
  src/components/SearchLayout/types/searchTypes.ts
  src/components/ServerHeader/apis/server.ts
  src/constants/noData.ts
  src/pages/CoffeeChatListPage/CoffeeChatListPage.tsx
  src/pages/CoffeeChatListPage/components/CoffeeChatList/CoffeeChatList.styles.ts
  src/pages/GroupChatListPage/GroupChatListPage.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/components/GlobalChatPreview/GlobalChatPreview.tsx
  src/pages/HomePage/hooks/useHomeData.ts
Labels: 📬 API, ✨ Feature, 🪄 Modify

#135 #133 [FEAT] 스케줄 API 연결
  src/components/DetailModal/hooks/useEnterChatRoom.ts
  src/components/DetailModal/hooks/useExitChatRoom.ts
  src/pages/CoffeeChatListPage/hooks/useAddCoffeeChat.ts
  src/pages/HomePage/apis/fetchSchedule.ts
  src/pages/HomePage/components/ScheduleBlock/ScheduleBlock.styles.ts
  src/pages/HomePage/components/ScheduleBlock/ScheduleBlock.tsx
  src/pages/HomePage/components/ScheduleSideModal/ScheduleSideModal.tsx
  src/pages/HomePage/constants/schedulesDummy.ts
  src/pages/HomePage/hooks/useFetchSchedule.ts
  src/pages/HomePage/types/ScheduleTypes.ts
  src/utils/dateTime.ts
Labels: 📬 API, ✨ Feature

#137 #124 [FEAT] 프로필 메뉴 구현
  public/svg/menuWrapperIcon.svg
  src/assets/img/menuWrapperImg.png
  src/assets/svg/MenuWrapperIcon.tsx
  src/assets/svg/index.ts
  src/components/ProfileMenu/ProfileMenu.styles.ts
  src/components/ProfileMenu/ProfileMenu.tsx
  src/components/SideMenuBar/SideMenuBar.styles.ts
  src/components/SideMenuBar/SideMenuBar.tsx
  src/components/index.ts
  src/pages/ChatPage/apis/fetchChatLogs.ts
  src/pages/ChatPage/apis/fetchChatMembers.ts
  src/pages/ChatPage/components/ChatListItem/ChatListItem.tsx
  src/pages/ChatPage/components/ChatRoom/ChatRoom.tsx
  src/pages/ChatPage/hooks/useChatMembers.ts
  src/pages/ChatPage/types/groupChatLogTypes.ts
  src/pages/MyPage/MyPage.tsx
  src/routers/Router.tsx
  src/stores/useMenuBarStore.tsx
Labels: ✨ Feature

#141 #131 [FEAT] 모달 아이콘 및 링크드인 연결
  public/svg/etcLinkIcon.svg
  public/svg/facebookIcon.svg
  public/svg/githubIcon.svg
  public/svg/instaIcon.svg
  public/svg/mediumIcon.svg
  public/svg/notionIcon.svg
  public/svg/tistoryIcon.svg
  public/svg/velogIcon.svg
  public/svg/xIcon.svg
  src/assets/svg/Arrow.tsx
  src/assets/svg/CarIcon.tsx
  src/assets/svg/EtcLinkIcon.tsx
  src/assets/svg/FacebookIcon.tsx
  src/assets/svg/GithubIcon.tsx
  src/assets/svg/InstaIcon.tsx
  src/assets/svg/Logo4Icon.tsx
  src/assets/svg/MediumIcon.tsx
  src/assets/svg/NotionIcon.tsx
  src/assets/svg/TistoryIcon.tsx
  src/assets/svg/VelogIcon.tsx
  src/assets/svg/Vite.tsx
  src/assets/svg/XIcon.tsx
  src/assets/svg/index.ts
  src/components/TagChip/TagChip.styles.ts
  src/constants/path.ts
  src/main.tsx
  src/pages/MyPage/components/CareerBox/CareerBox.tsx
  src/pages/MyPage/components/ProfileBox/ProfileBox.styles.ts
  src/pages/MyPage/components/ProfileBox/ProfileBox.tsx
  src/pages/SignupPage/components/ContactStep/ContactStep.styles.ts
  src/pages/SignupPage/components/ContactStep/ContactStep.tsx
  src/pages/UserSettingPage/apis/getLinkedInVerify.ts
  src/pages/UserSettingPage/components/LinkModal/LinkModal.style.ts
  src/pages/UserSettingPage/components/LinkModal/LinkModal.tsx
  src/pages/UserSettingPage/components/LinkedInVerify/LinkedInVerify.tsx
  src/pages/UserSettingPage/components/ProfileEdit/ProfileEdit.styles.ts
  src/pages/UserSettingPage/components/ProfileEdit/ProfileEdit.tsx
  src/pages/UserSettingPage/constants/icon.tsx
  src/pages/UserSettingPage/constants/url.ts
  src/pages/UserSettingPage/hooks/useVerifyLinkedIn.ts
  src/routers/Router.tsx
  src/utils/dateTime.ts
  src/utils/icon.tsx
Labels: 📬 API, ✨ Feature

#143 #139 [STYLE] 퍼블리싱 오류들 수정
  src/App.tsx
  src/components/DetailModal/components/DetailMeta/DetailMeta.styles.ts
  src/components/DetailModal/components/DetailMeta/DetailMeta.tsx
  src/components/DetailModal/components/HamburgerMenu/HamburgerMenu.tsx
  src/components/MenuHeader/MenuHeader.styles.ts
  src/components/MenuHeader/MenuHeader.tsx
  src/components/SearchLayout/SearchLayout.tsx
  src/components/ServerHeader/ServerHeader.styles.ts
  src/components/SideMenuBar/SideMenuBar.styles.ts
  src/constants/menu.ts
  src/constants/noData.ts
  src/pages/ChatPage/ChatPage.styles.ts
  src/pages/ChatPage/ChatPage.tsx
  src/pages/ChatPage/components/ChatInfoList/ChatInfoList.styles.ts
  src/pages/ChatPage/components/ChatListItem/ChatListItem.tsx
  src/pages/ChatPage/components/ChatRoom/ChatRoom.styles.ts
  src/pages/ChatPage/components/ChatRoom/ChatRoom.tsx
  src/pages/CoffeeChatListPage/CoffeeChatListPage.tsx
  src/pages/CoffeeChatListPage/apis/addCoffeeChat.ts
  src/pages/CoffeeChatListPage/apis/fetchGroupChatList.ts
  src/pages/CoffeeChatListPage/constants/coffeeChat.ts
  src/pages/DMPage/components/DMItem/DMItem.tsx
  src/pages/GlobalChatPage/components/GlobalChatRoom/GlobalChatRoom.styles.ts
  src/pages/GlobalChatPage/components/GlobalChatRoom/GlobalChatRoom.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/components/ScheduleSideModal/ScheduleSideModal.tsx
  src/routers/Router.tsx
Labels: 🐞 BugFix, 🎨 UI

#145 #142 [FEAT] 채팅방 프로필 메뉴-DM 보내기 API 연결
  src/components/ProfileMenu/ProfileMenu.tsx
  src/components/ServerHeader/ServerHeader.styles.ts
  src/components/SideMenuBar/SideMenuBar.tsx
  src/pages/DMPage/DMPage.tsx
  src/pages/DMPage/apis/dm.ts
  src/pages/DMPage/components/ChatRoom/ChatRoom.tsx
  src/pages/DMPage/components/DMList/DMList.tsx
  src/pages/DMPage/hooks/useDm.ts
  src/pages/DMPage/types/dmTypes.ts
  src/pages/MyPage/apis/fetchUserDetail.ts
  src/pages/MyPage/hooks/useFetchUserDetail.ts
  src/pages/UserSettingPage/components/CareerEdit/CareerEdit.tsx
  src/pages/UserSettingPage/components/CareerSettingList/CareerSettingList.tsx
  src/pages/UserSettingPage/components/ProfileEdit/ProfileEdit.tsx
  src/pages/UserSettingPage/hooks/useEditProfileForm.ts
  src/routers/Router.tsx
Labels: 📬 API, ✨ Feature

#144 #138 [FEAT] UserBox 컴포넌트 프로필 이미지 반영
  src/components/DetailModal/DetailModal.tsx
  src/components/DetailModal/components/DetailUserInfo/DetailUserInfo.tsx
  src/components/ProfileMenu/ProfileMenu.tsx
  src/components/ServerHeader/ServerHeader.tsx
  src/components/SideMenuBar/SideMenuBar.tsx
  src/components/UserBox/UserBox.styles.ts
  src/components/UserBox/UserBox.tsx
  src/hooks/useOutsideClick.ts
  src/pages/ChatPage/components/ChatRoom/ChatRoom.tsx
  src/pages/DMPage/components/ChatRoom/ChatRoom.tsx
  src/pages/DMPage/components/DMItem/DMItem.tsx
  src/utils/getInitials.ts
Labels: ✨ Feature

#147 #146 [STYLE] 퍼블리싱 오류 수정(2) + 기능 추가
  public/svg/rotateWhiteLogoIcon.svg
  src/assets/img/timeBackgroundImg.png
  src/assets/svg/RotateWhiteLogoIcon.tsx
  src/assets/svg/index.ts
  src/pages/ChatPage/ChatPage.tsx
  src/pages/ChatPage/components/ChatRoom/ChatRoom.styles.ts
  src/pages/ChatPage/components/ChatRoom/ChatRoom.tsx
  src/pages/ChatPage/types/index.ts
  src/pages/DMPage/DMPage.tsx
  src/pages/DMPage/components/ChatRoom/ChatRoom.tsx
  src/pages/DMPage/components/DMList/DMList.tsx
  src/pages/DMPage/types/dmTypes.ts
  src/pages/MyPage/MyPage.styles.ts
  src/pages/MyPage/components/ProfileBox/ProfileBox.tsx
  src/pages/MyPage/components/RecommendedProfiles/RecommendedProfiles.styles.ts
  src/utils/dateTime.ts
Labels: 🐞 BugFix, ✨ Feature, 🎨 UI

#116 #115 [FEAT] 서버 id 전역으로 관리
  src/components/ServerHeader/hooks/useServerList.ts
  src/hooks/useInitializeServerId.tsx
  src/pages/OnboardingPage/components/KakaoLogin/KakaoLogin.tsx
  src/pages/OnboardingPage/components/NaverLogin/NaverLogin.tsx
  src/pages/SignupPage/components/InfoStep/InfoStep.tsx
  src/pages/SignupPage/types/signupFormTypes.ts
  src/routers/Router.tsx
  src/stores/useServerId.ts
Labels: ✨ Feature
